body{
    background-color:rgb(59, 56, 56);
    cursor: pointer;
    margin: 0px;
}
.body{
    padding: 0;
    margin-left: 10px;
    width: 1500px;
    height: 360px;
    justify-content: space-evenly;
    display: flex;
    align-content: flex-start;
    padding: 0;
    margin-left: 18px;
}
#screen-on-2{
    cursor: pointer;
    text-align: left;
    width: 1407.5px;
    overflow: hidden;
    height: 110px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:whitesmoke;
    font-size: 34px;
    align-content: center;
    border-style: ridge;
    border-width: 0px;   
    border-bottom-width: 0;
    background-color:rgb(44, 43, 43);
    margin:54px -2px 0px 62px;
    position: sticky;
    text-align: right;
    outline : none;
}

#screen-on-1{
    cursor: pointer;
    text-align: left;
    width: 1407.5px;
    overflow: scroll;
    height: 110px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:whitesmoke;
    font-size: 34px;
    align-content: center;
    border-style: ridge;
    border-width: 0px;   
    border-bottom-width: 0;
    background-color:rgb(44, 43, 43);
    margin:0px -2px -20px 62px;
    position: sticky;
    text-align: right;
    outline: none;
}
.bas-mod-operations-two , .number-equal , .bas-mod-operations-one , .basic-operations , .area , .bit_undo{
    display:flex;
    line-height: 70px;
    width: 240px;
    align-content: inherit;
    flex-wrap: wrap;
    margin: 18px -50px 10px -50px;
}
.basic-operations>div , .number-equal>div , .bas-mod-operations-one>div , .bas-mod-operations-two>div , .area>div , .bit_undo>div{
    background-color: #222;
    color: whitesmoke;
    border: 1px ridge rgb(49,49,49);
    outline-offset: 0;
    outline-width: 0;
    margin-right: -4px;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bit_undo>div:hover , .area>div:hover , .number-equal>div:hover , .basic-operations>div:hover , .bas-mod-operations-one>div:hover , .bas-mod-operations-two>div:hover{
    background-color: rgb(77, 75, 75);
}
sup{
    font-size: 16px;
}
.container{
    flex-direction: row;
    text-align: center;
    align-content: center;
}
.heading{
    font-size: x-large;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 40px;
    color: whitesmoke;
    margin-top: -20px;
    margin-left: -10px;
    /*padding-bottom: -10px;*/

}
.bar-1{
    width: 30px;
    height: 3px;
    margin:12px 0px 5px 12px;
    background-color: whitesmoke;
}
.bar-2{
    width: 30px;
    height: 3px;
    margin:0px 0px 5px 12px;
    background-color: whitesmoke;
}
.bar-3{
    width: 30px;
    height: 3px;
    margin:0px 0px 10px 12px;
    background-color: whitesmoke;
}
